/* 共通 css */
:root {
    --main-bg-color: #FFFFFF;
    --sub-bg-color: #393E46;
    --link-color: #24292E;
    --font-color: #383E45;
}
* {
    box-sizing: border-box;
}
body, h1, h2 {
    margin: unset;
}
ul {
    margin: unset;
    padding: unset;
}
li {
    list-style: none;
}
img {
    display: block;
}
a, a:visited {
    font-family: Meiryo;
    font-size: 14.4px;
    color: var(--link-color);
    line-height: 1.5;
    text-decoration: none;
}
h2 {
    font-family: Meiryo;
    font-weight: bold;
    font-size: 32px;
    color: var(--font-color);
    line-height: 1.5;
    margin-bottom: 60px;
    border-bottom: 1px solid var(--font-color);
}
h3 {
    font-family: Meiryo;
    font-weight: bold;
    font-size: 16px;
    color: var(--font-color);
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
}
p {
    font-family: Meiryo;
    font-size: 14.4px;
    color: var(--font-color);
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
}
p.copy {
    font-size: 10px;
    text-align: center;
}
div.container {
    max-width: 960px;
    margin: 0 auto;
    padding-right: 4%;
    padding-left: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header div.container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
header div.logo {
    background-color: var(--sub-bg-color);
    color: #ffff;
    width: 120px;
    height: 40px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
}
header ul {
    display: flex;
}
header li:first-of-type {
    margin-right: 30px;
}
section.main_visual {
    height: 600px;
}
section.main_visual img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
section.about {
    padding-top: 80px;
    padding-bottom: 10px;
}
section.about img {
    border-radius: 50%;
}
section.about h2 + div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.bicycle {
    padding-top: 80px;
    padding-bottom: 70px;
}
section.bicycle div.contents {
    padding-bottom: 20px;
}
section.bicycle img {
    width: 100%;
}
section.bicycle h3,
section.bicycle p {
    text-align: center;
}


@media (min-width: 600px) {
section.about img {
    margin-right: 30px;
}
section.about h2 + div {
    flex-direction: row;
    justify-content: center;
}
section.bicycle h2 + div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
section.bicycle div.contents:not(:last-of-type) {
    margin-right: 15px;
}
}
